@model long

<div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-primary" onfocus="false" asp-route-id="@Model">
        <i class="bi bi-pencil-square"></i> Guardar Cambios
    </button>
    <a class="btn btn-secondary" asp-action="Index">
        <i class="bi bi-arrow-left-square-fill"></i> Regresar
    </a>
</div>